<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>Favorite Albums</title>
</head>

<body>
  <div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img class="music" src="{{ url_for('static', filename='img/music.jpg') }}">
          <span class="navbar-brand mb-0 h1">AlbumStash</span>
        </a>
        <div>
          <a href="/albums/new" class="link-primary">Post favorite album</a>
          |
          <a href="/logout" class="link-primary">Logout</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="intro">
        <h1>Welcome {{user.first_name}}!</h1>
      </div>
      <div class="container min-vh-100 d-flex flex-column">
        <div class="bg-secondary.bg-gradient">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Album Name</th>
                <th>Artist</th>
                <th>Release Date</th>
                <th>Fav Tracks</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for row in albums %}
              <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.artist }}</td>
                <td>{{ row.release_date }}</td>
                <td>{{ row.favorite_tracks }}</td>
                <td>
                  <a href="/album/{{row.id}}">View</a>
                  {% if row.posted_by == session.user_id %}|
                  <a href="/albums/edit/{{row.id}}">Edit</a> |
                  <a href="/albums/delete/{{row.id}}">Delete</a>
                  {% endif %}
                  {% if row.id != session.user_id %}|
                  <a href="/albums/like/{{row.id}}">Like</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</body>

</html>