* {
    margin: 0;
    padding: 0;
}

.intro {
    text-align: center;
    margin-top: 20px;
}

body{
    background-image: url('/img/background.jpg')"
}

.music {
    height: 35px;
    width: 40px;
}

.title, .register-link, .login-link  {
    color:darkred;
}